
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: rgb(51, 160, 122);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
}

.wrapper-flex {
    display: flex;
    gap: 10px;
}

#btnreschange {
    margin-top: 20px;
    height: 50px;
}

#btnrainbowmode {
    margin-top: 20px;
    height: 50px;
    color: red;
}

#canvas {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square-pixel {
    background-color: rgb(211, 211, 211);
}

.square-pixel:hover {
    border: 1px solid grey;
}